@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: 'YatraOne';
  src: url('/fonts/YatraOne-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Variable.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharpie';
  src: url('/fonts/Sharpie-Variable.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Striper';
  src: url('/fonts/Striper-Regular.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #565656;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #cac5c5;
  font-family: 'ClashDisplay', Arial, Helvetica, sans-serif;
}
